/* Estilo do corpo da página */
body {
  margin: 0;
  background-color: rgb(188, 188, 188);
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilo do cabeçalho */
.header {
  background-color: #121212;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo do título do cabeçalho */
.header h1 {
  font-size: 30px;
  padding-left: 2%;
}

/* Estilo do menu de navegação no cabeçalho */
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 25px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

/* Estilo do contêiner principal que envolve a sidebar e o conteúdo principal */
.home-container {
  display: flex;
}

.content-page {
  width: 100%;
}

.action-buttons {
  margin: 1%;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  background-color: rgb(60, 60, 60);
  border: none;
  color: #fff;
  font-size: 17px;
}

.action-buttons:hover {
  transition: 0.5s;
  border-color: #121212;
  background-color: #121212;
  color: #fff;
  cursor: pointer;
}

.dashboard-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilo da sidebar */
.sidebar {
  width: 200px;
  /* Largura aumentada para dar mais espaço aos itens */
  background-color: rgb(60, 60, 60);
  /* Uma tonalidade mais escura de cinza */
  color: #fff;
  font-size: 20px;
  /* Reduzindo o tamanho da fonte para melhor legibilidade */
  padding: 20px;
  /* Adicionando espaço interno para melhor aparência */
  height: 85vh;
  padding-right: 2%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Estilo dos itens do menu da sidebar */
.menu-item {
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-item .last-item {
  margin-bottom: 100px;
}

.menu-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: 0;
  left: 0;
} 

.menu-item:hover {
  background-color: rgb(46, 46, 46);
}

.menu-item:last-child::after {
  display: none;
}

.submenu-item {
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
  margin-top: 7% ;
}

.data-grid {
  margin: 0 1% 0 1%;
  border: 10px solid orange;
  /* Definindo a cor da borda como laranja */
  border-radius: 10px;
  /* Borda arredondada (opcional) */
  box-shadow: 0 0 5px black;
}

.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-withBorderColor {
  border-color: #fb8c00 !important;
}

.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell {
  justify-content: center !important;
}

.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

.MuiDataGrid-columnHeaders {
  background-color: #fbce8b !important;
}


.MuiDataGrid-row:nth-child(even) {
  background-color: #ffe9c9;
  /* Cor de fundo para linhas pares */
}

.MuiDataGrid-row:nth-child(odd) {
  background-color: #fff3e0;
  /* Cor de fundo para linhas ímpares */
}

.MuiDataGrid-footerContainer {
  background-color: #fbce8b !important;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/background.jpg');
  background-size: cover; /* Ajuste o tamanho da imagem de fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem de fundo */
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 70px 70px;
  box-shadow: 0 0 5px black;
}

.box-login img {
  padding-bottom: 10%;
  height: 130px;
  padding-bottom: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  height: 50px;
  width: 300px;
  padding: 0 12px 0 12px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
}

.button-submit {
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  background-color: #121212;
  color: #fff;
  width: 50%;
  margin-top: 10%;
}

.button-submit:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(60, 60, 60);
}